.page-content{
    /* background-image: url("/Image/background.jpg"); */
    width: 100%;
    display: block;
    background-repeat: no-repeat;

}

.page{
    background-image: linear-gradient(#ffffff, #585858);
    border: none;
}
span{
    font-size: 21px;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-bg{
    background: none;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
}
